/* Write your CSS here */
.container {
  min-height: 100vh;
}
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f5f9;
}
.search-input {
  background-color: transparent;
  border: none;
  outline: none;
}
.search-image {
  height: 25px;
}
.ul-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
